.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
}

.deleteButton__icon {
  fill: black;
  stroke: none;
  width: 50%;
}

.deleteButton:focus,
.deleteButton:hover {
  background: #eee;
}
