.signaturePad__canvasWrapper {
  border: 0.5rem solid #eee;
}

.signaturePad__canvas {
  display: block;
  cursor: url(/images/Pencil.cur), auto;
}

.signaturePad__tools {
  padding: 1rem 0 0;
}

.signaturePad__clearButton {
  background: #eee;
  border-radius: 0.4rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
}
