.visitorLog {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
}

.visitorLog__info {
  padding: 0  2rem;
  height: 6.5rem;
  vertical-align: middle;
}

.visitorLog__header {
  text-align: left;
}

.visitorLog__log:nth-child(odd) {
  background: #eee;
}

.visitorLog__log {
  cursor: pointer;

  &:hover {
    background: #e5e5e5;
  }
}

.visitorLog__info:last-child {
  text-align: right;
}

.visitorLog__button {
  border-radius: 0.4rem;
  background: #ccc;

  &:hover {
    background: #333;
    color: white;
  }
}
