.visitorLogProgress {
  display: flex;
}

.visitorLogProgress__stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  width: 10rem;
  opacity: 0.6;
}

.visitorLogProgress__stageNumber {
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 50%;
  text-align: center;
  background: #aaa;
  font-size: 1.4rem;
  color: white;
}

.visitorLogProgress__stage ~ .visitorLogProgress__stage:before {
  content: '';
  display: block;
  height: 0.2rem;
  width: 6.5rem;
  transform: translate3d(-5rem, 1.75rem, 0);
  background: #aaa;
}

.visitorLogProgress--stage1 .visitorLogProgress__stage:nth-child(1),
.visitorLogProgress--stage2 .visitorLogProgress__stage:nth-child(2) {
  opacity: 1;
}
