.visitorLogForm {
  width: 55rem;
  padding: 2rem;
  position: relative;
}

.visitorLogForm__progress {
  position: absolute;
  right: 1rem;
}

.visitorLogForm__heading {
  font-size: 2rem;
  font-weight: normal;
}

.visitorLogForm__contentWrapper {
  padding: 3rem 0 6rem;
  width: 100%;
  overflow: hidden;
}

.visitorLogForm__content {
  width: 200%;
  transition: transform 0.2s ease-in-out;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
  &.visitorLogForm__content--1 {
    transform: translateX(0);
  }

  &.visitorLogForm__content--2 {
    transform: translateX(-50%);
  }
}

.visitorLogForm__details,
.visitorLogForm__signature {
  width: 50%;
  float: left;
}

.visitorLogForm__field {
  display: flex;

  & ~ .visitorLogForm__field {
    margin-top: 1.8rem;
  }
}

.visitorLogForm__label {
  flex-basis: 15rem;
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.visitorLogForm__input {
  flex-grow: 1;
  padding: 1rem 1.8rem;
  border-radius: 0.4rem;
  border: 0.2rem solid transparent;
  background: #eee;
  font: inherit;
  resize: none;

  &:focus {
    border-color: currentColor;
    outline: none;
  }
}

.visitorLogForm__signature {
  display: block;
  height: 6.6rem;
}

.visitorLogForm__options {
  display: flex;
  justify-content: flex-end;
}

.visitorLogForm__button {
  background: #eee;
  border-radius: 0.4rem;
  padding: 0.8rem 0;
  width: 8.5rem;
  font-size: 1.4rem;

  & ~ .visitorLogForm__button {
    margin-left: 2rem;
  }
}

.visitorLogForm__signatureButton {
  display: block;
  border: 0.2rem dashed #ccc;
  border-radius: 0.4rem;
  font-size: 1.4rem;

  &:focus {
    border-color: currentColor;
    outline: none;
  }
}
